#con{
    border: 1px solid white;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,440px);
    gap:25px ;

}
a{
    text-decoration: none;
    color: white;
}
#con2{
    width: 13%;
    height: 50px;
    text-decoration: none;
    background-color: rgb(251,100,27);
    color: white;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
#heading{
    text-align: center;
    color:teal ;
}
#con>div{
    border: 2px dotted hsl(86, 37%, 64%);
    border-radius: 5px;
}
#con>div>p:nth-child(3){
    margin-left: 116px;      
}
div>img{
    width: 95%;
    height: 55%;
    margin-top: 5px;
}
#con:hover>button{
 color: white;
 background-color: #4096cc;
 cursor: pointer;
}